@charset "UTF-8";
/* ==========================================================================
VARIABLES

- Breakpoints
- Desktop
- Tablet
- Type Scale
========================================================================== */
/* Breakpoints
========================================================================== */
/**
*
* There are two breakpoints located in /_sass/_queries.scss
* One for tablets, and one for desktops. NKD is mobile first.
* This sets the range for those breakpoints.
* Queries are meant to be extended as needed.
*
*/
/* Large Breakpoint */
/* Medium Breakpoint */
pre .hll { background-color: #ffffcc; }

pre { background: #f0f0f0; }

pre .c { color: #60a0b0; font-style: italic; }

/* Comment */
pre .err { border: 1px solid red; }

/* Error */
pre .k { color: #007020; font-weight: bold; }

/* Keyword */
pre .o { color: #666666; }

/* Operator */
pre .cm { color: #60a0b0; font-style: italic; }

/* Comment.Multiline */
pre .cp { color: #007020; }

/* Comment.Preproc */
pre .c1 { color: #60a0b0; font-style: italic; }

/* Comment.Single */
pre .cs { color: #60a0b0; background-color: #fff0f0; }

/* Comment.Special */
pre .gd { color: #a00000; }

/* Generic.Deleted */
pre .ge { font-style: italic; }

/* Generic.Emph */
pre .gr { color: red; }

/* Generic.Error */
pre .gh { color: #000080; font-weight: bold; }

/* Generic.Heading */
pre .gi { color: #00a000; }

/* Generic.Inserted */
pre .go { color: #888888; }

/* Generic.Output */
pre .gp { color: #c65d09; font-weight: bold; }

/* Generic.Prompt */
pre .gs { font-weight: bold; }

/* Generic.Strong */
pre .gu { color: #800080; font-weight: bold; }

/* Generic.Subheading */
pre .gt { color: #0044dd; }

/* Generic.Traceback */
pre .kc { color: #007020; font-weight: bold; }

/* Keyword.Constant */
pre .kd { color: #007020; font-weight: bold; }

/* Keyword.Declaration */
pre .kn { color: #007020; font-weight: bold; }

/* Keyword.Namespace */
pre .kp { color: #007020; }

/* Keyword.Pseudo */
pre .kr { color: #007020; font-weight: bold; }

/* Keyword.Reserved */
pre .kt { color: #902000; }

/* Keyword.Type */
pre .m { color: #40a070; }

/* Literal.Number */
pre .s { color: #4070a0; }

/* Literal.String */
pre .na { color: #4070a0; }

/* Name.Attribute */
pre .nb { color: #007020; }

/* Name.Builtin */
pre .nc { color: #0e84b5; font-weight: bold; }

/* Name.Class */
pre .no { color: #60add5; }

/* Name.Constant */
pre .nd { color: #555555; font-weight: bold; }

/* Name.Decorator */
pre .ni { color: #d55537; font-weight: bold; }

/* Name.Entity */
pre .ne { color: #007020; }

/* Name.Exception */
pre .nf { color: #06287e; }

/* Name.Function */
pre .nl { color: #002070; font-weight: bold; }

/* Name.Label */
pre .nn { color: #0e84b5; font-weight: bold; }

/* Name.Namespace */
pre .nt { color: #062873; font-weight: bold; }

/* Name.Tag */
pre .nv { color: #bb60d5; }

/* Name.Variable */
pre .ow { color: #007020; font-weight: bold; }

/* Operator.Word */
pre .w { color: #bbbbbb; }

/* Text.Whitespace */
pre .mf { color: #40a070; }

/* Literal.Number.Float */
pre .mh { color: #40a070; }

/* Literal.Number.Hex */
pre .mi { color: #40a070; }

/* Literal.Number.Integer */
pre .mo { color: #40a070; }

/* Literal.Number.Oct */
pre .sb { color: #4070a0; }

/* Literal.String.Backtick */
pre .sc { color: #4070a0; }

/* Literal.String.Char */
pre .sd { color: #4070a0; font-style: italic; }

/* Literal.String.Doc */
pre .s2 { color: #4070a0; }

/* Literal.String.Double */
pre .se { color: #4070a0; font-weight: bold; }

/* Literal.String.Escape */
pre .sh { color: #4070a0; }

/* Literal.String.Heredoc */
pre .si { color: #70a0d0; font-style: italic; }

/* Literal.String.Interpol */
pre .sx { color: #c65d09; }

/* Literal.String.Other */
pre .sr { color: #235388; }

/* Literal.String.Regex */
pre .s1 { color: #4070a0; }

/* Literal.String.Single */
pre .ss { color: #517918; }

/* Literal.String.Symbol */
pre .bp { color: #007020; }

/* Name.Builtin.Pseudo */
pre .vc { color: #bb60d5; }

/* Name.Variable.Class */
pre .vg { color: #bb60d5; }

/* Name.Variable.Global */
pre .vi { color: #bb60d5; }

/* Name.Variable.Instance */
pre .il { color: #40a070; }

/* Literal.Number.Integer.Long */
.syntax pre .hll { background-color: #ffffcc; }

.syntax pre { background: #ffffff; }

.syntax pre .c { color: #888888; }

/* Comment */
.syntax pre .err { color: #FF0000; background-color: #ffaaaa; }

/* Error */
.syntax pre .k { color: #008800; font-weight: bold; }

/* Keyword */
.syntax pre .o { color: #333333; }

/* Operator */
.syntax pre .cm { color: #888888; }

/* Comment.Multiline */
.syntax pre .cp { color: #557799; }

/* Comment.Preproc */
.syntax pre .c1 { color: #888888; }

/* Comment.Single */
.syntax pre .cs { color: #cc0000; font-weight: bold; }

/* Comment.Special */
.syntax pre .gd { color: #a00000; }

/* Generic.Deleted */
.syntax pre .ge { font-style: italic; }

/* Generic.Emph */
.syntax pre .gr { color: red; }

/* Generic.Error */
.syntax pre .gh { color: #000080; font-weight: bold; }

/* Generic.Heading */
.syntax pre .gi { color: #00a000; }

/* Generic.Inserted */
.syntax pre .go { color: #888888; }

/* Generic.Output */
.syntax pre .gp { color: #c65d09; font-weight: bold; }

/* Generic.Prompt */
.syntax pre .gs { font-weight: bold; }

/* Generic.Strong */
.syntax pre .gu { color: #800080; font-weight: bold; }

/* Generic.Subheading */
.syntax pre .gt { color: #0044dd; }

/* Generic.Traceback */
.syntax pre .kc { color: #008800; font-weight: bold; }

/* Keyword.Constant */
.syntax pre .kd { color: #008800; font-weight: bold; }

/* Keyword.Declaration */
.syntax pre .kn { color: #008800; font-weight: bold; }

/* Keyword.Namespace */
.syntax pre .kp { color: #003388; font-weight: bold; }

/* Keyword.Pseudo */
.syntax pre .kr { color: #008800; font-weight: bold; }

/* Keyword.Reserved */
.syntax pre .kt { color: #333399; font-weight: bold; }

/* Keyword.Type */
.syntax pre .m { color: #6600EE; font-weight: bold; }

/* Literal.Number */
.syntax pre .s { background-color: #fff0f0; }

/* Literal.String */
.syntax pre .na { color: #0000cc; }

/* Name.Attribute */
.syntax pre .nb { color: #007020; }

/* Name.Builtin */
.syntax pre .nc { color: #BB0066; font-weight: bold; }

/* Name.Class */
.syntax pre .no { color: #003366; font-weight: bold; }

/* Name.Constant */
.syntax pre .nd { color: #555555; font-weight: bold; }

/* Name.Decorator */
.syntax pre .ni { color: #880000; font-weight: bold; }

/* Name.Entity */
.syntax pre .ne { color: #FF0000; font-weight: bold; }

/* Name.Exception */
.syntax pre .nf { color: #0066BB; font-weight: bold; }

/* Name.Function */
.syntax pre .nl { color: #997700; font-weight: bold; }

/* Name.Label */
.syntax pre .nn { color: #0e84b5; font-weight: bold; }

/* Name.Namespace */
.syntax pre .nt { color: #007700; }

/* Name.Tag */
.syntax pre .nv { color: #996633; }

/* Name.Variable */
.syntax pre .ow { color: #000000; font-weight: bold; }

/* Operator.Word */
.syntax pre .w { color: #bbbbbb; }

/* Text.Whitespace */
.syntax pre .mf { color: #6600EE; font-weight: bold; }

/* Literal.Number.Float */
.syntax pre .mh { color: #005588; font-weight: bold; }

/* Literal.Number.Hex */
.syntax pre .mi { color: #0000DD; font-weight: bold; }

/* Literal.Number.Integer */
.syntax pre .mo { color: #4400EE; font-weight: bold; }

/* Literal.Number.Oct */
.syntax pre .sb { background-color: #fff0f0; }

/* Literal.String.Backtick */
.syntax pre .sc { color: #0044dd; }

/* Literal.String.Char */
.syntax pre .sd { color: #dd4422; }

/* Literal.String.Doc */
.syntax pre .s2 { background-color: #fff0f0; }

/* Literal.String.Double */
.syntax pre .se { color: #666666; font-weight: bold; background-color: #fff0f0; }

/* Literal.String.Escape */
.syntax pre .sh { background-color: #fff0f0; }

/* Literal.String.Heredoc */
.syntax pre .si { background-color: #eeeeee; }

/* Literal.String.Interpol */
.syntax pre .sx { color: #DD2200; background-color: #fff0f0; }

/* Literal.String.Other */
.syntax pre .sr { color: #000000; background-color: #fff0ff; }

/* Literal.String.Regex */
.syntax pre .s1 { background-color: #fff0f0; }

/* Literal.String.Single */
.syntax pre .ss { color: #aa6600; }

/* Literal.String.Symbol */
.syntax pre .bp { color: #007020; }

/* Name.Builtin.Pseudo */
.syntax pre .vc { color: #336699; }

/* Name.Variable.Class */
.syntax pre .vg { color: #dd7700; font-weight: bold; }

/* Name.Variable.Global */
.syntax pre .vi { color: #3333bb; }

/* Name.Variable.Instance */
.syntax pre .il { color: #0000DD; font-weight: bold; }

/* Literal.Number.Integer.Long */
.animate { -webkit-animation-duration: 1s; animation-duration: 1s; -webkit-animation-fill-mode: both; animation-fill-mode: both; }

@-webkit-keyframes sidebar { 0% { left: -40%; }
  100% { left: 0%; } }

@keyframes sidebar { 0% { left: -40%; }
  100% { left: 0%; } }

@-webkit-keyframes content { 0% { margin-left: 0; width: 100%; }
  100% { margin-left: 40%; width: 60%; } }

@keyframes content { 0% { margin-left: 0; width: 100%; }
  100% { margin-left: 40%; width: 60%; } }

@-webkit-keyframes none {}

@keyframes none {}
@font-face { font-family: 'Architects Daughter'; font-style: normal; font-weight: 400; src: local("Architects Daughter"), local("ArchitectsDaughter"), url(/static/ad.woff) format("woff"); }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; }

html { height: 100%; max-width: 100%; overflow-x: hidden; font-size: 62.5%; /* 10÷16=62.5% */ }

body { font-size: 1.2em; font-size: 1.2rem; /* 12÷10=1.2 */ height: 100%; word-break: word-wrap; -webkit-transition: opacity 0.25s ease 0s; transition: opacity 0.25s ease 0s; font-family: 'Architects Daughter','Helvetica Neue',Helvetica,Arial,sans-serif; }

#header { background: rgba(51, 71, 61, 0.05) url(/static/images/bg-side.jpg) no-repeat scroll center; -webkit-background-size: cover; background-size: cover; min-height: 100%; }

p { font-size: 1.4em; font-size: 1.4rem; }

a { text-decoration: none; }

::selection { background: #333; color: #fff; text-shadow: none; }

::-moz-selection { background: #333; color: #fff; text-shadow: none; }

#logo { min-width: 200px; width: 88%; max-width: 500px; margin: 20px auto; position: relative; background: #fff; text-align: center; padding: 20px; -webkit-transform: rotate3d(6, 4, 0, 10deg); -ms-transform: rotate3d(6, 4, 0, 10deg); transform: rotate3d(6, 4, 0, 10deg); -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1); box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1); z-index: 999; }
#logo h1 { color: #ccc; color: rgba(150, 150, 150, 0.8); font-weight: normal; text-transform: uppercase; text-shadow: 0 2px 1px white, 0 0 0 rgba(0, 0, 0, 0.7), 0 4px 6px white; padding-bottom: 10px; font-size: 2.4em; font-size: 2.4rem; position: relative; }
#logo h2 { color: #ccc; color: rgba(150, 150, 150, 0.8); font-weight: normal; text-shadow: 0 2px 1px white, 0 0 0 rgba(0, 0, 0, 0.7), 0 4px 6px white; position: relative; background: #fff; font-size: 1.6em; font-size: 1.6rem; z-index: 999; }
#logo h2:before { content: " "; position: absolute; width: 100%; height: 1px; background: #ddd; left: 0; top: 50%; margin-top: -1px; z-index: -1; }
#logo .button, #logo button { display: block; text-align: center; font-size: 1.2em; font-size: 1.2rem; padding: 8px; margin: 8px auto; background: #efefef; border-radius: 3px; color: #555555; border: none; cursor: pointer; -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); }

#header { background: rgba(51, 71, 61, 0.05) url(/static/images/bg-side.jpg) no-repeat scroll center; -webkit-background-size: cover; background-size: cover; min-height: 100%; }

#header .logo { bottom: 3.5em; left: 5%; max-width: 90%; padding: 1.5em; position: absolute; }
#header .logo h1, #header .logo h2 { color: #fff; text-shadow: 0 1px 5px rgba(0, 0, 0, 0.3); }
#header .logo a { color: inherit; }

#main { padding: 2em; }

#sidebar li { display: inline-block; font-weight: 700; margin-bottom: 0.8em; margin-right: 1.5em; padding-bottom: 0.25em; }
#sidebar li a { padding-bottom: 5px; }
#sidebar li a:hover { border-bottom: 3px solid; }
#sidebar li.active a { border-bottom: 3px solid; }

#footer { text-align: right; display: block; border-top: 1px dashed #ccc; padding: 5px 0; margin-top: 10px; }

/* ========================================================================== SITE STYLES ========================================================================== */
.clear { clear: both; }

div, li, span, main, aside, body, html, ul, ol { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin: 0; padding: 0; }

a { text-decoration: none; color: #f60; -webkit-transition: background-color .5s linear,color .5s linear; transition: background-color .5s linear,color .5s linear; }

ul, ol, li { list-style: none; }

.count { vertical-align: super; font-size: 0.8em; }

.inline li { float: left; position: relative; margin: 0 0 10px 10px; line-height: 30px; }

.tag-box a, .count-box { padding: 4px 6px; margin: 2px; background: none repeat scroll 0% 0% #EEE; border-radius: 3px; text-decoration: none; border: 1px dashed #CCC; }

ul.decimal li { list-style: decimal; margin-left: 2.5em; line-height: 1.2em; }

ul.gray { color: #999; }
ul.gray span { color: #666; }

#gotop { width: 50px; background: none repeat scroll 0% 0% #FFF; text-align: center; padding: 5px; position: fixed; bottom: 13px; right: 30px; cursor: pointer; display: none; color: #333; font-family: verdana; font-size: 11px; border-bottom: 3px solid #f60; border-radius: 3px; -webkit-transition: all 0.3s linear 0s; transition: all 0.3s linear 0s; z-index: 999; }

#reback { position: fixed; right: 15px; top: 10px; background: rgba(0, 0, 0, 0.55); padding: 10px; color: #eee; border-radius: 5px; -webkit-box-shadow: 1px 2px 3px #f60; box-shadow: 1px 2px 3px #f60; text-shadow: -1px -1px 0 #f60, 1px 1px 0 #666; z-index: 999; }

abbr, acronym { border: 0; font-variant: normal; }

sup { vertical-align: text-top; }

sub { vertical-align: text-bottom; }

legend { color: #000; }

fieldset, img { border: none; }

img { vertical-align: middle; }

table { border-collapse: collapse; border-spacing: 0; }

caption { text-align: left; }

hr { margin: .7em 0; border-top: 1px dashed #d0d0d0; border-bottom: 1px dashed #f9f9f9; }

ins { text-decoration: none; }

del { text-decoration: line-through; }

pre, code { margin: .5em 0; line-height: 1.6; display: block; overflow: auto; }

code { background-color: #eee; padding: 10px; }

blockquote { display: block; text-align: justify; border-left: 4px solid #999; margin: 1em 0em; padding-left: 1.5em; }

blockquote p { margin: 0; padding: .5em 0; }

object, iframe { display: block; margin: 4px auto; }

.content h1 { padding: 5px 0; }

.content img { max-width: 98%; display: block; margin: 10px 0; -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); padding: 4px; background-color: #fff; border: 1px solid #CCC; }

.listing-item { width: 90%; color: #999; }

.listing-item a { padding-left: 1em; text-shadow: 0 1px 1px #fff; }

.listing-item .time { color: #000; text-shadow: -1px -1px 0 #fff, 1px 1px 0 #666; }

.listing-seperator { font-size: 1.2em; font-size: 1.2rem; color: #000; margin: 0.5em 0; font-weight: bold; text-shadow: -1px -1px 0 #fff, 1px 1px 0 #666; }

.meta { font-size: .85em; color: #888; padding: 5px 0; }

.content em { background: #eee; color: #666; padding: 0 5px; margin: 0 2px; border: 1px solid #DDD; border-radius: 3px; }

.content h2 { font-size: 1.25em; }

.content h3 { font-size: 1em; }

.content ol li { list-style: decimal; margin-left: 2em; }

.content p { margin: .5em 0; }

.content table { width: 100%; overflow: auto; border-collapse: collapse; border-spacing: 0; }

.content table tr { border-top: 1px solid #ccc; background-color: white; }

.content table tr:nth-child(2n) { background-color: #F8F8F8; }

.content table th { font-weight: bold; }

.content table th, .content table td { border: 1px solid #DDD; padding: 6px 13px; }

.other-post { text-align: right; padding: 15px 0; }

.pageNav { font-weight: bold; font-size: 1.25em; }

.pageNavInvalid { font-weight: bold; font-size: 1.25em; color: #636363; cursor: not-allowed; }

.paginator { font-size: 1em; color: #666; margin: 20px 0; line-height: 2; display: block; }

.paginator a, .paginator span { padding: 5px; margin: 2px; text-decoration: none; }

.paginator .current-page { color: white; background: #f60; }

.paginator a:hover { color: white; background: #f60; }

#preloader { display: none; position: fixed; left: 0; right: 0; bottom: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.55); z-index: 9999; }

#loading { position: absolute; left: 50%; top: 50%; width: 256px; height: 40px; line-height: 40px; background: rgba(255, 255, 255, 0.75); padding: 0 10px 0 50px; margin: -20px 0 0 -128px; border: 1px solid #333; border-radius: 10px; }
#loading i { position: absolute; display: block; left: 10px; top: 4px; width: 30px; height: 32px; background: url(/static/images/loading.gif) no-repeat; }
#loading a { float: right; }

.ds-thread { display: none; }

body { background: url("/static/images/body.jpg"); }

@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 1.5dppx) { body { background: url("/static/images/body_2x.jpg"); -webkit-background-size: 100px 100px; background-size: 100px 100px; } }
/* ========================================================================== QUERIES
 Mobile first media queries
 - not-small - medium - large ========================================================================== */
/** These queries are constructed to be for mobile first css. You should write all styles for mobile and override things at larger breakpoints where needed.  You can use this query inside or outside of a class like so @include breakpoint(medium) { .someclass { color: #ee4466; } }  or  .someclass { @include breakpoint(large) { .someclass { color: #ffcc33; } } }  It's rather lovely.  */
@media screen and (min-width: 32em) { #logo { margin-top: 200px; }
  #logo h1 { font-size: 6em; font-size: 6rem; }
  .ds-thread { display: block; } }
@media screen and (min-width: 64em) { #header { -webkit-animation-name: sidebar; animation-name: sidebar; width: 40%; position: fixed; left: 0; top: 0; bottom: 0; }
  #main { -webkit-animation-name: content; animation-name: content; width: 60%; margin-left: 40%; } }
@media screen and (min-width: 32em) and (max-width: 64em) { #header { width: 100%; } }
@media screen and (max-width: 32em) { #header { width: 100%; min-height: 0; }
  #header .logo { position: relative; bottom: auto; top: auto; left: auto; right: auto; width: 100%; max-width: 100%; }
  .meta { font-size: .85em; }
  .other-post { text-align: center; }
  /*翻页*/
  .paginator { font-size: 1em; } }
